In [1]:
import pandas as pd
import numpy as np
#Para trabajar debemos importar pandas 
#Num py para realizar operaciones numéricas y matriciales de manera eficiente.

In [2]:
df = pd.read_csv("movie_metadata.csv") #Guardamos la lectura en un Data frame
#Para leer el contenido usamos pd.read_csv
df.head() #Sacan 5 registros

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [ ]:
#Vemos por ejemplo que en el 4, no tenemos apenas datos en las columnas, casi todo son NaN
#Que hacemos con los valores que tienen muchos datos vacíos?
#Para ello vamos a crear una columna en la que ningún registro va a tener valor

In [3]:
df["vacía"]= np.nan #np de nunpy, esa columna tiene todo vacío
#Estamos añadiendo una columna, al final de la tabla y todos los registros van a tener el valor NaN
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,vacía
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,NaN
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,NaN
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,NaN
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,NaN
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,NaN

In [4]:
#Como saber si una columna tiene todos los valores nulos
df["vacía"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
5038   NaN
5039   NaN
5040   NaN
5041   NaN
5042   NaN
Name: vacía, Length: 5043, dtype: float64

In [5]:
#Para saber qué columnas tengo
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes', 'vacía'],
      dtype='object')

In [6]:
#Para saber si una columna en particular está dento de la lista anterior usamos:
"vacía" in df.columns

True

In [7]:
#Pero tambien quiero saber si está vacío todo
"vacía" in df.columns and df["vacía"].isnull().all()
# ("vacía" in df.columns) verificando si hay una columna llamada "vacía" en el DataFrame
# si se cumple la condición anterior (and df["vacía"].isnull().all()) verifica si todos los valores en esa columna son nulos

True

In [35]:
#Probamos con otra columna
"facenumber_in_poster" in df.columns and df["facenumber_in_poster"].isnull().all()

False

In [8]:
#borrar todas las columnas que en las que todos sus registros están vacíos
#el comando para hacerlo seria:
df.dropna(axis=1, how="all", inplace=True)
#dropna Es el método de pandas que se utiliza para eliminar valores nulos de un DataFrame.
#axis=1: Indica que la operación se realizará a lo largo de las columnas del DataFrame. Si axis=0, la operación se realizaría a lo largo de las filas.+
#how="all": Especifica la condición que debe cumplir una columna para ser eliminada. En este caso, la columna se eliminará si todos sus valores son nulos
#inplace=True: Indica que la operación debe realizarse directamente en el DataFrame original, en lugar de devolver un nuevo DataFrame con los valores eliminados. Si inplace se establece en False (o no se proporciona), la operación devolvería un nuevo DataFrame,

In [9]:
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [10]:
#vamos a ver si se ha borrado
"vacía" in df.columns

False

In [11]:
df.dropna(axis=1, how="any", inplace=True)
#Vamos a eliminar las que tengan algún valor vacío, null, poniendo any

In [12]:
df.head()

,genres,movie_title,num_voted_users,cast_total_facebook_likes,movie_imdb_link,imdb_score,movie_facebook_likes
0,Action|Adventure|Fantasy|Sci-Fi,Avatar,886204,4834,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,7.9,33000
1,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,471220,48350,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,7.1,0
2,Action|Adventure|Thriller,Spectre,275868,11700,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,6.8,85000
3,Action|Thriller,The Dark Knight Rises,1144337,106759,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,8.5,164000
4,Documentary,Star Wars: Episode VII - The Force Awakens ...,8,143,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,7.1,0

In [14]:
#Vamos a cargar el dataFrame para que vuelva a tener todas las columnas
df = pd.read_csv("movie_metadata.csv")

In [15]:
#Vamos a calcular cuantas de cada culumnda son null
df.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      14
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [16]:
#Vara hacer el procentaje de vacíos de cada columna)
round(df.isnull().sum()/len(df)*100,2)

color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
movie_title                   0.00
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.28
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

In [17]:
#Vamos a añadir algo mas para que me salgan las que tienen mas de un determinado porcentaje
round(df.isnull().sum()/len(df)*100,2) > 5

color                        False
director_name                False
num_critic_for_reviews       False
duration                     False
director_facebook_likes      False
actor_3_facebook_likes       False
actor_2_name                 False
actor_1_facebook_likes       False
gross                         True
genres                       False
actor_1_name                 False
movie_title                  False
num_voted_users              False
cast_total_facebook_likes    False
actor_3_name                 False
facenumber_in_poster         False
plot_keywords                False
movie_imdb_link              False
num_user_for_reviews         False
language                     False
country                      False
content_rating                True
budget                        True
title_year                   False
actor_2_facebook_likes       False
imdb_score                   False
aspect_ratio                  True
movie_facebook_likes         False
dtype: bool

In [18]:
columnasvacias = df.columns[round(df.isnull().sum()/len(df)*100,2) > 5]
#Así solo sale el nombre de las que son true, de las que tiene un porcentaje mayor de 5

In [19]:
df.columns[round(df.isnull().sum()/len(df)*100,2) > 5]

Index(['gross', 'content_rating', 'budget', 'aspect_ratio'], dtype='object')

In [20]:
#Quiero borrar estas columnnsa
df.drop(columnasvacias,axis=1,inplace=True)
#(((drop siempre va a borrar estructuras)))

In [21]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,genres,actor_1_name,...,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,2009.0,936.0,7.9,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,Action|Adventure|Fantasy,Johnny Depp,...,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,2007.0,5000.0,7.1,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,Action|Adventure|Thriller,Christoph Waltz,...,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,2015.0,393.0,6.8,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,Action|Thriller,Tom Hardy,...,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,2012.0,23000.0,8.5,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,Documentary,Doug Walker,...,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,12.0,7.1,0

In [22]:
#Los campos que esté null, del campo director_facebook_likes, vamos a rellenar los vacíos
#Entre paréntesis del fillna ponemos el dato que queremos que aparezca, en este caso la media de la fila duration
df["duration"] = df["duration"].fillna(df["duration"].mean())

In [23]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,genres,actor_1_name,...,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes
0,Color,James Cameron,723.0,178.000000,0.0,855.0,Joel David Moore,1000.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,2009.0,936.0,7.9,33000
1,Color,Gore Verbinski,302.0,169.000000,563.0,1000.0,Orlando Bloom,40000.0,Action|Adventure|Fantasy,Johnny Depp,...,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,2007.0,5000.0,7.1,0
2,Color,Sam Mendes,602.0,148.000000,0.0,161.0,Rory Kinnear,11000.0,Action|Adventure|Thriller,Christoph Waltz,...,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,2015.0,393.0,6.8,85000
3,Color,Christopher Nolan,813.0,164.000000,22000.0,23000.0,Christian Bale,27000.0,Action|Thriller,Tom Hardy,...,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,2012.0,23000.0,8.5,164000
4,NaN,Doug Walker,NaN,107.201074,131.0,NaN,Rob Walker,131.0,Documentary,Doug Walker,...,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,12.0,7.1,0

In [25]:
df["actor_3_facebook_likes"] = df["actor_3_facebook_likes"].fillna(0)
#Y en este caso los nan será 0
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,genres,actor_1_name,...,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes
0,Color,James Cameron,723.0,178.000000,0.0,855.0,Joel David Moore,1000.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,...,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,2009.0,936.0,7.9,33000
1,Color,Gore Verbinski,302.0,169.000000,563.0,1000.0,Orlando Bloom,40000.0,Action|Adventure|Fantasy,Johnny Depp,...,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,2007.0,5000.0,7.1,0
2,Color,Sam Mendes,602.0,148.000000,0.0,161.0,Rory Kinnear,11000.0,Action|Adventure|Thriller,Christoph Waltz,...,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,2015.0,393.0,6.8,85000
3,Color,Christopher Nolan,813.0,164.000000,22000.0,23000.0,Christian Bale,27000.0,Action|Thriller,Tom Hardy,...,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,2012.0,23000.0,8.5,164000
4,NaN,Doug Walker,NaN,107.201074,131.0,0.0,Rob Walker,131.0,Documentary,Doug Walker,...,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,12.0,7.1,0

In [29]:
df.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
movie_facebook_likes           int64
dtype: object

In [32]:
#vamos a cambiar donde director_name object
df.num_critic_for_reviews.fillna(0)
#hemos echo convertir ese campo en 0

0       723.0
1       302.0
2       602.0
3       813.0
4         0.0
        ...
5038      1.0
5039     43.0
5040     13.0
5041     14.0
5042     43.0
Name: num_critic_for_reviews, Length: 5043, dtype: float64

In [ ]:
"num_critic_for_reviews" in df.columns and df["num_critic_for_reviews"].isnull().all()

In [33]:
df.num_critic_for_reviews.astype("int")
df.num_critic_for_reviews.head()

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [60]:
#binarizar las variablesss HACER BINARIO 
#VAMOS A T5RASPORFAR LA VARIABLE COLOR EN DOS VALIRABLES DIFERENTES
df

,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,genres,actor_1_name,movie_title,...,facenumber_in_poster,plot_keywords,movie_imdb_link,num_user_for_reviews,language,country,title_year,actor_2_facebook_likes,imdb_score,movie_facebook_likes
0,James Cameron,723.0,178.000000,0.0,855.0,Joel David Moore,1000.0,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Avatar,...,0.0,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,3054.0,English,USA,2009.0,936.0,7.9,33000
1,Gore Verbinski,302.0,169.000000,563.0,1000.0,Orlando Bloom,40000.0,Action|Adventure|Fantasy,Johnny Depp,Pirates of the Caribbean: At World's End,...,0.0,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,1238.0,English,USA,2007.0,5000.0,7.1,0
2,Sam Mendes,602.0,148.000000,0.0,161.0,Rory Kinnear,11000.0,Action|Adventure|Thriller,Christoph Waltz,Spectre,...,1.0,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,994.0,English,UK,2015.0,393.0,6.8,85000
3,Christopher Nolan,813.0,164.000000,22000.0,23000.0,Christian Bale,27000.0,Action|Thriller,Tom Hardy,The Dark Knight Rises,...,0.0,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,2701.0,English,USA,2012.0,23000.0,8.5,164000
4,Doug Walker,NaN,107.201074,131.0,0.0,Rob Walker,131.0,Documentary,Doug Walker,Star Wars: Episode VII - The Force Awakens ...,...,0.0,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN,NaN,12.0,7.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Scott Smith,1.0,87.000000,2.0,318.0,Daphne Zuniga,637.0,Comedy|Drama,Eric Mabius,Signed Sealed Delivered,...,2.0,fraud|postal worker|prison|theft|trial,http://www.imdb.com/title/tt3000844/?ref_=fn_t...,6.0,English,Canada,2013.0,470.0,7.7,84
5039,NaN,43.0,43.000000,NaN,319.0,Valorie Curry,841.0,Crime|Drama|Mystery|Thriller,Natalie Zea,The Following,...,1.0,cult|fbi|hideout|prison escape|serial killer,http://www.imdb.com/title/tt2071645/?ref_=fn_t...,359.0,English,USA,NaN,593.0,7.5,32000
5040,Benjamin Roberds,13.0,76.000000,0.0,0.0,Maxwell Moody,0.0,Drama|Horror|Thriller,Eva Boehnke,A Plague So Pleasant,...,0.0,NaN,http://www.imdb.com/title/tt2107644/?ref_=fn_t...,3.0,English,USA,2013.0,0.0,6.3,16
5041,Daniel Hsia,14.0,100.000000,0.0,489.0,Daniel Henney,946.0,Comedy|Drama|Romance,Alan Ruck,Shanghai Calling,...,5.0,NaN,http://www.imdb.com/title/tt2070597/?ref_=fn_t...,9.0,English,USA,2012.0,719.0,6.3,660
5042,Jon Gunn,43.0,90.000000,16.0,16.0,Brian Herzlinger,86.0,Documentary,John August,My Date with Drew,...,0.0,actress name in title|crush|date|four word tit...,http://www.imdb.com/title/tt0378407/?ref_=fn_t...,84.0,English,USA,2004.0,23.0,6.6,456

In [61]:
df.color.unique()

AttributeError: 'DataFrame' object has no attribute 'color'

df_color=pd.get_dummies(df.color)
#separar la columna en dos

In [55]:
df_color=pd.get_dummies(df.color) #separar la columna en do

AttributeError: 'DataFrame' object has no attribute 'color'

In [56]:
df_color.head()

    Black and White  Color
0             False   True
1             False   True
2             False   True
3             False   True
4             False  False

In [62]:
df.drop("color", axis=1,inplace=True)
#Y metemos estas dos nuevas al final
df = df.join(df_color)
df.head()

KeyError: "['color'] not found in axis"